@charset "UTF-8";
/*Media*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px !important; }

  p {
    font-size: 20px !important; }

  span {
    font-size: 20px !important; }

  #second img {
    padding-top: 50px; }

  .footer-top {
    margin-top: 20px !important; }

  .anlasma {
    width: 150% !important;
    margin-left: -25%; }

  #biznedenvariz p {
    font-size: 25px !important; }

  .firstimg {
    width: 60% !important; }

  .secondimg {
    width: 60% !important; }

  .thirdimg {
    width: 60% !important; }

  #smallMenu ul li {
    font-size: 9px !important;
    padding-top: 5px !important; }

  #smallMenu:hover {
    width: 300px !important; }

  #first h1 {
    text-decoration: overline !important;
    text-align: center !important;
    font-size: 35px !important; }

  #second .container {
    padding-top: 50px !important; }

  #third .container {
    padding-top: 50px !important; }

  #biznedensvg {
    height: 150px !important; } }
/*Media*/
/*Renkler*/
/*Renkler*/
html, body, ul, li, .row {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important; }

.col {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  background: #f2f2f2;
  height: 100%;
  overflow-x: hidden; }

html {
  height: 100%; }

#ilksayfa {
  width: 100%;
  height: 100%;
  background: #e5ebe2;
  position: relative; }
  #ilksayfa #guvenilirVideo {
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 6; }
  #ilksayfa .videoController {
    position: absolute;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0.3);
    bottom: 5px;
    right: 20px;
    z-index: 9;
    padding-right: 15px;
    border-radius: 5px; }
    #ilksayfa .videoController ul li {
      padding-left: 20px !important;
      float: left; }
      #ilksayfa .videoController ul li i {
        transition: all 300ms ease-in-out;
        color: #e1e1e1;
        cursor: pointer;
        padding-top: 7px; }
      #ilksayfa .videoController ul li .range-field {
        padding: 0 !important;
        margin: 0 !important; }
      #ilksayfa .videoController ul li input[type=range] + .thumb {
        display: none !important; }
      #ilksayfa .videoController ul li input[type=range] {
        border: 0px solid white; }
  #ilksayfa .socials {
    position: absolute;
    top: 15px;
    z-index: 99999; }
    #ilksayfa .socials ul li {
      padding-left: 20px !important;
      float: left;
      z-index: 999; }
      #ilksayfa .socials ul li i {
        transition: all 300ms ease-in-out;
        color: #080808;
        font-size: 25px;
        cursor: pointer;
        z-index: 999; }
    #ilksayfa .socials ul #facebook:hover {
      color: #3b5998; }
    #ilksayfa .socials ul #twitter:hover {
      color: #0084b4; }
    #ilksayfa .socials ul #google:hover {
      color: #dd4b39; }
  #ilksayfa .logo {
    margin: 0 auto;
    text-align: center;
    background-image: url("../content/img/logo.png");
    background-size: inherit;
    background-repeat: no-repeat;
    width: 250px;
    background-position-y: 12px;
    height: 67px;
    z-index: 9;
    position: relative; }
  #ilksayfa #menuOpen {
    z-index: 9;
    color: #333;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .1s ease-in; }
    #ilksayfa #menuOpen .top {
      position: absolute;
      width: 25px;
      height: 3px;
      background: #333; }
    #ilksayfa #menuOpen .mid {
      position: absolute;
      top: 8px;
      width: 25px;
      height: 3px;
      background: #333; }
    #ilksayfa #menuOpen .bottom {
      position: absolute;
      top: 16px;
      width: 25px;
      height: 3px;
      background: #333; }
  #ilksayfa #menuOpen:hover > .top {
    animation: .3s upToDown linear; }
  #ilksayfa #menuOpen:hover > .bottom {
    animation: .3s downToUp linear; }
@keyframes upToDown {
  0% {
    right: 0px;
    top: 0px; }
  50% {
    right: 10px;
    top: 4px; }
  100% {
    top: 16px;
    right: 0px; } }
@keyframes downToUp {
  0% {
    right: 0px;
    top: 16px; }
  50% {
    right: -10px;
    top: 4px; }
  100% {
    top: 0px;
    right: 0px; } }
#menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  opacity: .97;
  z-index: 99999999; }
  #menu i {
    position: absolute;
    font-size: 35px;
    top: 15px;
    right: 30px;
    color: #333;
    cursor: pointer;
    z-index: 6; }
  #menu ul {
    display: none;
    height: 100%;
    text-align: center; }
    #menu ul li {
      width: 100%;
      letter-spacing: -2.7px;
      padding-top: 55px !important;
      font-weight: 900;
      font-size: 40px; }
      #menu ul li a {
        color: #333; }
    #menu ul li:hover {
      opacity: .7;
      transition: all .2s ease-in-out; }

#smallMenu {
  z-index: 999;
  position: fixed;
  opacity: 0;
  top: 20px;
  left: 20px;
  height: 20px;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #333;
  overflow: hidden;
  cursor: pointer; }
  #smallMenu ul li:nth-last-child(0) {
    padding-left: 0px !important; }
  #smallMenu ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    float: left;
    padding-left: 15px !important;
    color: #f5f5ed; }
    #smallMenu ul li figure {
      margin: 0 !important; }
      #smallMenu ul li figure #ust {
        transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
        width: 15px;
        height: 3px;
        background: #fff;
        margin: 3px 0; }
      #smallMenu ul li figure #orta {
        transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
        width: 15px;
        height: 3px;
        background: #fff;
        margin: 3px 0; }
      #smallMenu ul li figure #alt {
        transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
        width: 15px;
        height: 3px;
        background: #fff;
        margin: 3px 0; }
    #smallMenu ul li a, #smallMenu ul li i {
      font-size: 15px;
      color: #f5f5ed; }
  #smallMenu ul li:hover {
    transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
    opacity: .8; }

#smallMenu:hover {
  transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
  width: 400px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

#smallMenu:hover ul li figure #orta {
  transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
  margin-left: -5px;
  width: 19px; }

#smallMenu:hover ul li figure #ust {
  transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
  width: 13px;
  transform: rotate(55deg);
  margin-left: 2px; }

#smallMenu:hover ul li figure #alt {
  transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
  width: 13px;
  transform: rotate(-55deg);
  margin-left: 2px; }

.scrollNav {
  opacity: 0; }
  .scrollNav svg {
    position: fixed;
    right: 12.6px;
    top: 30%;
    z-index: 99999;
    color: #333;
    opacity: .5; }
  .scrollNav ul {
    padding: 0;
    margin: 0;
    position: fixed;
    right: 20px;
    top: 30%;
    z-index: 99999;
    color: #333; }
    .scrollNav ul li:nth-of-type(1) {
      padding: 0 !important; }
    .scrollNav ul li {
      padding-top: 50px !important;
      cursor: pointer; }
      .scrollNav ul li span {
        position: relative;
        color: #101010;
        margin-right: 5px;
        margin-top: -3px;
        opacity: 0; }
      .scrollNav ul li i {
        border-radius: 50px;
        background: #eee;
        font-size: 19px; }
    .scrollNav ul li:hover span {
      transition: .2s ease-in;
      opacity: 1;
      color: #333; }
    .scrollNav ul li:hover i {
      border-radius: 50px; }

.active {
  transition: .2s ease-out;
  background: #333 !important;
  border-radius: 50px !important; }

.navWrapper #navBar {
  height: 67px; }

.biznedenvarizEffect {
  transition: all 0.5s cubic-bezier(0.33, 1.2, 0.66, 1.1);
  width: 100% !important; }

#biznedenvariz {
  position: relative;
  height: 100%;
  width: 100%;
  /*background: url('../content/img/bizneden2.svg') no-repeat;
  background-position-x: 0%;
  background-position-y: 78%;
  background-size: contain;
  */ }
  #biznedenvariz .rightcog {
    position: absolute;
    right: -14px;
    bottom: -158px; }
    #biznedenvariz .rightcog .cog {
      opacity: .2;
      position: relative;
      -webkit-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
      transform-origin: 50% 50%;
      transform: rotate(250deg); }
  #biznedenvariz #biznedensvg {
    /* position: absolute !important; */
    /* width: 250px !important; */
    height: 250px !important;
    /* left: 40% !important; */
    /* top: 10% !important; */
    margin: 0 auto;
    text-align: center;
    margin-top: -150px; }
  #biznedenvariz .angle {
    display: inline-block;
    z-index: -1;
    position: relative;
    background: #cc2222;
    padding: 15px 0;
    width: 100%;
    text-align: center; }
  #biznedenvariz .angleSpecial:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 40px solid #cc2222;
    border-bottom: 0 solid transparent; }
  #biznedenvariz img {
    width: 0%; }
  #biznedenvariz h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: -25px;
    color: #f5f5ed; }
  #biznedenvariz p {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    word-spacing: 0;
    color: #646472;
    font-family: 'Raleway', sans-serif; }
    #biznedenvariz p span {
      color: #948b80;
      font-weight: bold; }

#first {
  width: 100%;
  background: url("../content/img/reflect_back.svg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  background-position: bottom left;
  /*
  @-webkit-keyframes spin {
      100% {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  */ }
  #first h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #333; }
  #first .cogwhellWrapper {
    position: absolute;
    top: 20px;
    right: 20px; }
  #first .cog {
    opacity: .1;
    position: relative;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    transform-origin: 50% 50%; }
  #first .container p {
    line-height: .96;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
    font-weight: 700;
    word-spacing: 0;
    color: brown;
    font-family: 'Raleway', sans-serif; }
    #first .container p span {
      font-weight: 400;
      padding-top: 35px;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      color: #333;
      text-align: left !important;
      text-transform: none; }
  #first .container img {
    width: 100%; }

#second {
  background: url("../content/img/back_baklava.png");
  background-size: cover;
  overflow: hidden;
  position: relative; }
  #second .thin {
    position: absolute;
    width: 80px;
    height: 8px;
    background-color: transparent;
    transform-origin: 400px 0;
    /*ªüº╝ºÁº¢º░ ªåºÁº¢ªéªÇº░ º▓ªÇº░ªëºÁº¢º©ªÅ º┐º¥º╗º¥ªüº║º© º┤ºÁº╗ºÁº¢º©ªÅ*/
    top: 400px;
    border-radius: 0 100% 100% 0;
    /*ºÀº░º¥ªüªéªÇº©º╗º© º▒ºÁº╗ªïºÁ º┤ºÁº╗ºÁº¢º©ªÅ */ }
  #second .thin:nth-child(1) {
    transform: rotate(6.42857deg); }
  #second .thin:nth-child(2) {
    transform: rotate(19.28571deg); }
  #second .thin:nth-child(3) {
    transform: rotate(32.14286deg); }
  #second .thin:nth-child(4) {
    transform: rotate(45deg); }
  #second .thin:nth-child(5) {
    transform: rotate(57.85714deg); }
  #second .thin:nth-child(6) {
    transform: rotate(70.71429deg); }
  #second .thin:nth-child(7) {
    transform: rotate(83.57143deg); }
  #second .thin:nth-child(8) {
    transform: rotate(96.42857deg); }
  #second .thin:nth-child(9) {
    transform: rotate(109.28571deg); }
  #second .thin:nth-child(10) {
    transform: rotate(122.14286deg); }
  #second .thin:nth-child(11) {
    transform: rotate(135deg); }
  #second .thin:nth-child(12) {
    transform: rotate(147.85714deg); }
  #second .thin:nth-child(13) {
    transform: rotate(160.71429deg); }
  #second .thin:nth-child(14) {
    transform: rotate(173.57143deg); }
  #second .thick {
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #ccc;
    transform-origin: 400px 0;
    top: 400px; }
  #second .thick:nth-child(15) {
    transform: rotate(12.34286deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(16) {
    transform: rotate(25.2deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(17) {
    transform: rotate(38.05714deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(18) {
    transform: rotate(50.91429deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(19) {
    transform: rotate(63.77143deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(20) {
    transform: rotate(76.62857deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(21) {
    transform: rotate(89.48571deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(22) {
    transform: rotate(102.34286deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(23) {
    transform: rotate(115.2deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(24) {
    transform: rotate(128.05714deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(25) {
    transform: rotate(140.91429deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(26) {
    transform: rotate(153.77143deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second .thick:nth-child(27) {
    transform: rotate(166.62857deg);
    /* n-14, ªçªéº¥º▒ªï º¢º░ªçº░º╗ ªü º¢ªâº╗ªÅ ªüªçº©ªéº░ªéªî º┤º©º▓ªï, º░ º¢ºÁ º┐ªÇº¥º┤º¥º╗ºÂº©º╗, º©º¢º░ªçºÁ º¥º¢º© º©º┤ªâªé º┤º░º╗ªîªêºÁ º┐º¥ º║ªÇªâº│ªâ */ }
  #second #speedometer {
    opacity: .26;
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 100%;
    bottom: -70%;
    background: linear-gradient(#101010, #000); }
  #second .center {
    width: 80px;
    height: 80px;
    border: 1px solid red;
    border-radius: 100%;
    position: absolute;
    top: 350px;
    left: 370px;
    box-shadow: 0 0 7px 2px red; }
  #second .str {
    position: absolute;
    width: 350px;
    height: 6px;
    background-color: #ddd;
    transform-origin: 100% 0;
    /*ªüº╝ºÁº¢º░ ªåºÁº¢ªéªÇº░ º▓ªÇº░ªëºÁº¢º©ªÅ º┐º¥º╗º¥ªüº║º© º┤ºÁº╗ºÁº¢º©ªÅ*/
    transform: rotate(0deg);
    top: 390px;
    left: 63px;
    border-radius: 100% 0 0 100%;
    /*ºÀº░º¥ªüªéªÇº©º╗º© º▒ºÁº╗ªïºÁ º┤ºÁº╗ºÁº¢º©ªÅ */ }
@keyframes speed {
  0% {
    transform: rotate(20deg); }
  60% {
    transform: rotate(60deg); }
  80% {
    transform: rotate(150deg); }
  100% {
    transform: rotate(20deg); } }
  #second h1 {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    word-spacing: 0;
    color: #646472;
    font-family: 'Raleway', sans-serif; }
  #second .container {
    padding-top: 170px; }
    #second .container p {
      line-height: .96;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      font-size: 32px;
      margin-top: 50px;
      word-spacing: 0;
      color: brown;
      font-family: 'Raleway', sans-serif; }
      #second .container p span {
        font-weight: 400;
        padding-top: 35px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #333;
        text-align: left;
        text-transform: none; }
    #second .container img {
      width: 100%; }

#third {
  background: #F27B95;
  overflow: hidden;
  position: relative;
  background: url("../content/img/test2.png");
  background-repeat: repeat;
  background-size: contain;
  animation: jonsnow 40s infinite linear; }
@keyframes jonsnow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 0px 1000px, 400px 400px, 300px 300px; } }
  #third .dotLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGklEQVQIW2NkwAIYCQkaMzAwnAUpIqgSbhIAMXABBvxCEskAAAAASUVORK5CYII=) repeat; }
  #third h1 {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    word-spacing: 0;
    color: #333;
    font-family: 'Raleway', sans-serif; }
  #third .container {
    padding-top: 150px; }
    #third .container p {
      line-height: .96;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      font-size: 32px;
      /*margin-top: 50px;*/
      word-spacing: 0;
      color: brown;
      font-family: 'Raleway', sans-serif; }
      #third .container p span {
        font-weight: 400;
        padding-top: 35px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #333;
        text-align: left;
        text-transform: none; }
    #third .container img {
      width: 117%; }

#fourth {
  overflow: hidden;
  background: brown; }
  #fourth h1 {
    line-height: .96;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    word-spacing: 0;
    color: #f5f5ed;
    font-family: 'Raleway', sans-serif; }
  #fourth .container {
    padding-top: 70px; }
    #fourth .container p {
      line-height: .96;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      font-size: 32px;
      margin-top: 0px;
      word-spacing: 0;
      color: #bfa87b;
      font-family: 'Raleway', sans-serif; }
      #fourth .container p span {
        font-weight: 400;
        padding-top: 35px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #bfa87b;
        text-align: left;
        text-transform: none; }
    #fourth .container .anlasma {
      position: relative;
      width: 100%;
      padding-top: 60px; }
      #fourth .container .anlasma .arka {
        position: absolute;
        width: 50%;
        left: 25%;
        z-index: 5;
        -webkit-transform: rotateX(90deg) rotateY(0deg);
        transform: rotateX(90deg) rotateY(0deg); }
      #fourth .container .anlasma .arkakalk {
        transition: all  1s ease-in-out;
        -webkit-transform: rotateX(90deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg) !important; }
      #fourth .container .anlasma .sol {
        z-index: 6;
        position: absolute;
        width: 25%;
        left: -5000px; }
      #fourth .container .anlasma .sag {
        z-index: 6;
        position: absolute;
        width: 25%;
        right: -5000px; }
    #fourth .container .asagi {
      position: absolute;
      bottom: 10px;
      left: 50%;
      animation: updown 1s infinite ease-in-out; }
      #fourth .container .asagi i {
        color: #e1e1e1;
        font-size: 50px; }

@keyframes updown {
  0% {
    bottom: 10px; }
  50% {
    bottom: 0px; }
  100% {
    bottom: 10px; } }
#footer {
  background: #f5f5ed;
  overflow: hidden; }
  #footer .row {
    margin-bottom: 0 !important; }
    #footer .row .location {
      position: relative;
      width: 70%;
      margin: 0 auto; }
      #footer .row .location #locationMap {
        width: 100%;
        border-radius: 500px;
        border: 7px solid brown; }
      #footer .row .location #marker {
        position: absolute;
        font-size: 53px;
        top: 35%;
        left: 53%;
        color: #F74906;
        cursor: pointer;
        animation: updown2 700ms infinite ease-in-out; }
@keyframes updown2 {
  0% {
    top: 35%; }
  50% {
    top: 34%; }
  100% {
    top: 35%; } }
      #footer .row .location #markerimg {
        transition: all .2s linear;
        position: absolute;
        opacity: 0;
        top: 48%;
        left: 56%;
        cursor: pointer;
        width: 150px;
        height: 100px;
        border: 2px solid #F74906; }
      #footer .row .location span {
        transition: all .2s linear;
        opacity: 0;
        position: absolute;
        font-size: 13px;
        padding: 6px;
        top: 77%;
        left: 56%;
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 150px;
        background-color: orangered; }
      #footer .row .location #marker:hover ~ #markerimg {
        transition: all .2s linear;
        opacity: 1; }
      #footer .row .location #marker:hover ~ span {
        transition: all .2s linear;
        opacity: 1; }
    #footer .row p {
      color: brown;
      font-weight: bold;
      font-size: 30px;
      line-height: 0;
      text-align: center;
      padding: 18px;
      text-decoration: overline; }
    #footer .row .locationhref {
      background: transparent;
      color: #c9c2b4;
      font-size: 25px;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
      text-transform: none;
      font-weight: bold;
      letter-spacing: -0.5px;
      padding: 0; }
      #footer .row .locationhref i {
        transition: all  .2s ease-out;
        font-size: 27px;
        opacity: .8;
        color: brown; }
    #footer .row .locationhref:hover {
      color: #948b80; }
    #footer .row .locationhref:hover > i {
      opacity: 1; }
    #footer .row form input {
      padding: 5px;
      border: 1px solid #948b80;
      background: #fff;
      border-radius: 6px; }
    #footer .row form input:focus {
      border-bottom: 1px solid #948b80;
      box-shadow: 0 0 0 0 transparent; }
    #footer .row form textarea {
      padding: 5px;
      border: 3px solid #948b80;
      background: #fff;
      border-radius: 6px;
      height: 85px; }
    #footer .row form textarea:focus {
      border-bottom: 3px solid #948b80;
      box-shadow: 0 0 0 0 transparent; }
    #footer .row form ::-webkit-input-placeholder {
      color: #948b80; }
    #footer .row form :-moz-placeholder {
      /* Firefox 18- */
      color: #948b80; }
    #footer .row form ::-moz-placeholder {
      /* Firefox 19+ */
      color: #948b80; }
    #footer .row form :-ms-input-placeholder {
      color: #948b80; }
    #footer .row form button {
      background: transparent;
      color: #c9c2b4;
      font-size: 25px;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
      text-transform: none;
      font-weight: bold;
      letter-spacing: -0.5px;
      padding: 0; }
      #footer .row form button i {
        transition: all  .2s ease-out;
        font-size: 27px;
        opacity: .8;
        color: brown; }
    #footer .row form button:hover {
      color: #948b80; }
    #footer .row form button:hover > i {
      opacity: 1; }
  #footer .footer-top {
    margin-top: 300px;
    height: 132px;
    width: 100%;
    background: url("http://www.tsimenis.com/img/footer-top2.png") repeat; }
  #footer .footer-end {
    width: 100%;
    background: url("http://www.tsimenis.com/img/showcase-bg.png") repeat; }
    #footer .footer-end h1 {
      font-size: 15px;
      color: #e1e1e1;
      padding: 22px;
      margin: 0; }
.topLogo{z-index:8;position:relative; width:140%; height:90%; background:rgba(255,255,255,1);left:-55px;border-bottom-right-radius:30px;border-bottom-left-radius:30px;top:0px; cursor:pointer}
/*# sourceMappingURL=style.css.map */
